*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 60px;
    background-color: #08212e;
    margin-bottom: 2%;
   
}

header img{
    float: left;
    margin-left: 90px;
    padding: 5px;
}
header h1{
    float: left;
    color: #E5E5E5;
    margin-left: 95px;
    padding: 7px;
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #f3f5fc;
}
.texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family:"Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;
}
.texto::placeholder{
     color: #0a3871;
}
.texto:focus, .texto:active{
    border: none;
    outline:none ;
}
.observacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}
.observacao p{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
}
.botoes{
    display: flex;
    flex-direction:row ;
    align-items: flex-start;
    padding:1% 0% ;
    position: absolute;
    width: 80%;
    left: 12%;
    top:82% ;
}
.btn-encriptar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0a3851;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #fff;
}
.btn-desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: #d8dfe8;
    border: 1px solid #0a3851;
    border-radius: 24px;
    font-family: "Inter";
    font-weight: 400;
    font-size:18px ;
    line-height: 19px;
    text-align: center;
    color:#0a3871 ;
}
.btn-desencriptar:hover, .btn-encriptar:hover{
    margin: 0.3;
    width: 24.5%;
    padding: 1.8%;
}
.encriptado{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

}
.mensagem-encriptada{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;

}
.mensagem-encriptada h2{
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}
.mensagem-encriptada p{
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size:16px ;
    line-height: 120%;
    text-align: center;
    color: #495057;
}
.encriptado img{
    position:absolute ;
    width: 60%;
    height: 40%;
    top: 30%; 
}
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top:20px ;
    background:#0A3851;
    color:#bebdbd;
}

.rodape h3{
    font-size: 16px;
}

.icons ion-icon{
    width: 25px;
    height: 25px;
    color:#bebdbd;
}

.icons ion-icon:hover{
    color: #08212e;
}

/* Responsividade*/
@media (max-width:57.5em){
    .container{
        display: flex;
        flex-direction: row;
    }
    .encriptar{
        width: 100%;
    }
    .texto{
        width: 80%;
        height:60%;
        left: 10%;
        top: 5%;
    }
    .observacao{
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .observacao p{
        font-size: 16px;
    }
    .botoes{
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .btn-encriptar, .btn-desencriptar{
        width: 48%;
        border-radius: 16px;
    }
    .btn-encriptar:hover,.btn-desencriptar:hover{
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }
    .encriptado{
        width:80% ;
        height: 15%;
        left: 10%;
        top: 80%;
    }
    .mensagem-encriptada{
        width: 100%;
        top: 5%; 
    }
    .encriptado img{
        top: 0;
        display: none;
        visibility:hidden ;
    }

}